.section__2{
    height: fit-content;
    padding: 20px;
    margin-top: 40px;
}

.caja__mensaje{
    width: 320px;
    height: 450px;
    border-radius: 32px;
    padding: 10px;
    background: #ffffff;
    box-shadow:  -5px -5px 11px #f7f7f7,
                5px 5px 11px #ffffff;
}
.titulo__mensaje{
    font-size: 2rem;
    font-weight: 700;
    margin-left: 0px;
    margin-bottom: 5px;
}

.mensaje{
    width: 300px;
    height: 350px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 30px;
    padding-top: 18px;
    color: #0A3871;
    border-style: none;
    border-radius: 32px;
    background-image: url(../images/Muñeco.png);
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
}
.mensaje:hover{
    filter: saturate(180%);
    transition:all .3s ease-in-out;
    box-shadow:  -2px -2px 11px #f7f7f7,
                2px 2px 11px #ffffff;
}

.boton__copiar{
    font-size: 1rem;
    font-weight: 400;
    width: 320px;
    height: 67px;
    margin-left: 0px;
    margin-top: 10px;
    color: white;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 24px;
}
.boton__copiar:hover{
    text-decoration: 2px underline;
    filter: saturate(180%);
    transition:all .1s ease-in-out;
    font-weight: 700;
    box-shadow: -2px -2px 11px #f7f7f7,
                2px 2px 11px #ffffff;
}

/***************DESKTOP*******************/
@media screen and (min-width: 1024px) {
    .caja__mensaje{
        margin-right: 50px;
    }
    .mensaje{
        margin-left: 8px;
    }
}
/***************DESKTOP-L*******************/
@media screen and (min-width: 1200px) {
    .caja__mensaje{
        width: 400px
    }
    .mensaje{
        margin-left: 50px;
        width: 300px;
    }
    .boton__copiar{
        font-size: 1.3rem;
        width: 300px;
        margin-left: 50px;
    }
}